extends layout

block content
  h1= title
  - let Nresults = [{unicyclecolor:"red",unicyclespeed:"100",unicyclecost:"20$"},{unicyclecolor:"pink",unicyclespeed:"150",unicyclecost:"35$"},{unicyclecolor:"blue",unicyclespeed:"180",unicyclecost:"23$"}]
  div(class="container-fluid")
    div(class="row")
      each item,index in Nresults
        div(class="col-sm-2",onClick=`buy(${index})`)
          p Name of the book is #{item.unicyclecolor}
          p Note Book Pages are #{item.unicyclespeed}
          p Cost of the book is #{item.unicyclecost}
  script.
    function buy(N) {
      N=N+1;
      alert('You purchased item '+N);
    }  